* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body.superCenter {
	height: 100vh;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgb(82, 94, 14) 0%,
		rgb(187, 185, 52) 50%,
		rgba(172, 170, 126, 0.904) 100%
	);
	display: grid;
	place-items: center;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 5rem;
	background: linear-gradient(
		90deg,
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 154, 0, 1) 10%,
		rgba(208, 222, 33, 1) 20%,
		rgba(79, 220, 74, 1) 30%,
		rgba(63, 218, 216, 1) 40%,
		rgba(47, 201, 226, 1) 50%,
		rgba(28, 127, 238, 1) 60%,
		rgba(95, 21, 242, 1) 70%,
		rgba(186, 12, 248, 1) 80%,
		rgba(251, 7, 217, 1) 90%,
		rgba(255, 0, 0, 1) 100%
	);
	border-radius: 1rem;
	box-shadow: 2px 2px 10px gray;
	color: rgba(69, 78, 15, 0.7);
	padding: 10px;
}

.container {
	width: max-content;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(16, 25px);
	grid-template-rows: repeat(16, 25px);
}

.square {
	border: 1px solid rgba(36, 0, 28, 0.5);
	box-shadow: 0.5px 0.5px 2px;
}

.square.hovered {
	background-color: #000;
}

#BtnContainer {
	grid-template-rows: 2, 20%;
}

button {
	width: 100%;
	padding: 0.5em;
	border-radius: 0.5em;
	box-shadow: 2px 2px 5px rgb(58, 56, 56);
	font-size: 1rem;
	font-weight: 600;
	color: rgb(216, 209, 202);
	background: rgb(231, 200, 169);
	background: linear-gradient(
		90deg,
		rgb(155, 60, 5) 0%,
		rgb(102, 9, 121) 35%,
		rgb(36, 0, 28) 100%
	);
}

.input-container {
	background-color: #fff;
	border: 1px solid rgb(58, 56, 56);
	border-radius: 0.5em;
	box-shadow: 2px 2px 5px rgb(58, 56, 56);
	margin-top: 5%;
	padding: 10px;
	text-align: center;
	background: rgb(78, 39, 1);
	background: linear-gradient(
		90deg,
		rgb(155, 60, 5) 0%,
		rgb(102, 9, 121) 35%,
		rgb(36, 0, 28) 100%
	);
	color: rgb(216, 209, 202);
	font-weight: 500;
}

.grid-size {
	margin: 10px;
}

.btn {
	background: rgba(78, 39, 1, 0.2);
	border: 1px solid rgb(209, 208, 187, 0.5);
	color: rgb(216, 209, 202);
}

form {
	background-color: #fff;
	border: 1px solid rgb(58, 56, 56);
	border-radius: 0.5em;
	box-shadow: 2px 2px 5px rgb(58, 56, 56);
	margin-top: 5%;
	padding: 10px;
	text-align: center;
	background: rgb(78, 39, 1);
	background: linear-gradient(
		90deg,
		rgb(155, 60, 5) 0%,
		rgb(102, 9, 121) 35%,
		rgb(36, 0, 28) 100%
	);
	color: rgb(216, 209, 202);
	font-weight: 500;
}
