* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body.superCenter {
	height: 100vh;

	display: grid;
	place-items: center;
}

.container {
	width: max-content;

	display: grid;
	justify-content: center;
	grid-template-columns: repeat(16, 25px);
	grid-template-rows: repeat(16, 25px);
}

.square {
	border: 1px solid rgb(235, 229, 229);
}

.square.hovered {
	background-color: black;
}

button {
	width: 30%;
	padding: 0.5em;
	border-radius: 0.25em;
	font-size: large;
	font-weight: 600;
	color: white;
	background-color: blue;
}

.zapper {
	background-color: white;
}

.zapper:hover {
	background-color: black;
}
